[submodule "website"]
	path = website
	url = git@github.com:FAForever/website.git
[submodule "clans"]
	path = clans
	url = git@github.com:FAForever/clans.git
[submodule "patchnotes"]
	path = patchnotes
	url = git@github.com:FAForever/patchnotes.git
